
.wrapper {
    background-color: #696aa8;
    width: 850px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
}


header {
    background-size: cover;
    background-origin: border-box;
    background-clip: padding-box;
    text-align: center;
    padding: 20px;
    border-radius: 50px;
    color: rgb(245, 245, 245);
}

h1 {
    background-color: #284377;
    font-family: 'Arial', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 1, 10, 0.5);
    padding: 20px; 
    border-radius: 15px;
}

nav ul {
    padding: 10px;
    background-color: #4321bb; 
    text-align: center;
    border-radius: 25px;
}

nav ul li {
    display: inline; 
    margin-right: 10px; 
}

nav ul li a {
    color: rgb(245, 241, 241); 
    text-decoration: none; 
    padding: 10px 15px; 
    transition: background-color 0.3s ease, color 0.3s ease, padding 0.3s ease; 
}

nav .active {
    font-weight: bold; 
    color: #ff5733; 
    text-decoration: underline; 
}

nav a {
    text-decoration: none;
    font-family: 'Verdana', sans-serif;
    font-size: 18px;
    color: #eb0808; 
    margin: 0 15px;
    padding: 10px;
    display: inline-block;
    transition: color 0.3s ease; 
}


nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Highlight color on hover */
    color: #4e7fe9; /* Change text color on hover */
    padding: 15px 15px; /* Increased padding on hover */
    border-radius: 20px;
}


main {
    font-family: 'Georgia', serif;
    font-size: 19px;
    line-height: 1.7;
    margin: 20px 40;
    
}

.float-left {
    float: left;
    width: 300px;
    height: 500px;
}

.musicfloat-right{
    float: left;
    width: 300px;
    height: 600px;
}

.aboutfloat-right{
    float: left;
    width: 300px;
    height: 1000px;
}

img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

figcaption {
    font-style: italic;
    text-align: center;
}

footer {
    background-size: contain;
    background-clip: content-box;
    text-align: left;
    padding: 10px;
    margin-top: 20px;
    border-top: 2px solid #ddd;
    position: relative; 
}

footer p {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #ffffff;
}


.footer-image {
    width: 60px; 
    position: absolute;
    right: 20px; 
    bottom: 15px; 
}


body {
    background-color: #4a5f90;
    margin: 0;
    padding: 50px;
}

header, main, footer {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #e40707;
    border-radius: 10px;
}


