/* Global styles for the Hero page */
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    font-size: 16px; 
    color: #000000; 
    background-color: #D7C0D0; 
}

/* Header */
header h1 {
    background-color: #545677;
    color: white; 
    font-size: 2em;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
}


nav {
    background-color: #779CAB; 
    padding: 10px;
    text-align: center;
}

nav a {
    color: #F19953; 
    text-decoration: none;
    margin: 0 10px;
}

nav span {
    color: #26415c; 
}


main p {
    line-height: 1.6;
    margin: 20px 0;
}


dl {
    margin-top: 40px;
}

dt {
    font-weight: bold;
    color: #027df8; 
}

dd {
    color: #000000; 
    margin-bottom: 10px;
}

img {
    margin: 10px;
    width: 150px; 
}


footer {
    background-color: #DA4167; 
    color: #fff;
    text-align: center;
    padding: 10px;
    position: absolute;
    width: 100%;
    bottom: 10;
}

.super{
    color: #e04911;

}

.zelda{
    color: green;
}

.kong{
    color: rgb(197, 115, 8);
}